absl-py==0.11.0
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
Deprecated==1.2.12
dm-tree==0.1.5
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
gpflow==1.5.1
GPy==1.9.9
gpytorch==1.4.1
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
joblib==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
matplotlib==3.3.4
mock==4.0.3
more-itertools==8.6.0
multipledispatch==0.6.0
numpy==1.19.5
oauthlib==3.1.0
openturns==1.16
opt-einsum==3.3.0
packaging==20.8
pandas==1.0.3
paramz==0.9.5
Pillow==8.1.0
pluggy==0.13.1
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytest==4.4.2
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
scikit-learn==0.24.2
scipy==1.1.0
six==1.15.0
tabulate==0.8.7
tensorboard==1.13.1
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-probability==0.12.1
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
torchvision==0.8.2
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
