name: pkgcomp

on: [push, pull_request]

jobs:
  pkgcomp-test-package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, windows-2019, ubuntu-20.04]
        pkg: [scikit-learn==0.24.2, openturns==1.16, openturns==1.17, gpy==1.9.9, gpy==1.10.0, gpflow==1.5.1, gpytorch==1.4.1, dicekriging]
        include:
          - pkg: dicekriging
            pyver: 3.8
            pkgadd: 'rpy2'
          - pkg: scikit-learn==0.24.2
            pyver: 3.8
            pkgadd: ''
          - pkg: openturns==1.16
            pyver: 3.8
            pkgadd: ''
          - pkg: openturns==1.17
            pyver: 3.8
            pkgadd: ''
          - pkg: gpy==1.9.9
            pyver: 3.8
            pkgadd: matplotlib
          - pkg: gpy==1.10.0
            pyver: 3.8
            pkgadd: matplotlib
          - pkg: gpflow==1.5.1
            pyver: 3.7
            pkgadd: tensorflow==1.*
          - pkg: gpytorch==1.4.1
            pyver: 3.8
            pkgadd: ''
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pyver }}
      - name: Set up R environment (for DiceKriging)
        uses: actions/setup-r@v2
      - name: Install packages
        run: |
          pip3 install --upgrade pip
          pip3 install numpy scipy pandas ${{ matrix.pkg }} ${{ matrix.pkgadd }}
          pip3 list
          R -e "install.packages('DiceKriging')"
      - name: Run test
        run: python3 pkgcomp.py --pkg ${{ matrix.pkg }} --output result.csv
        working-directory: pkgcomp
      - name: Upload result file
        uses: actions/upload-artifact@v2
        with:
          name: result_${{ matrix.os }}_${{ matrix.pkg }}
          path: pkgcomp/result.csv
  pkgcomp-concatenate-results:
    runs-on: ubuntu-latest
    needs: pkgcomp-test-package
    steps:
      - name: Download result files
        uses: actions/download-artifact@v2
      - name: List result files
        run: find . -name "result.csv"
      - name: Concatenate result files
        run: |
          find . -name "result.csv" -print0 | xargs -0 cat | tr -d '\r' >> results.csv
          sort results.csv > tmp.csv && mv tmp.csv results.csv
      - name: Pretty-print csv outpt
        run: column -t -s, results.csv
      - name: Upload concatenated results
        uses: actions/upload-artifact@v2
        with:
          name: results
          path: results.csv
